/**index.wxss**/
page{
  height: 100%;
  box-sizing:border-box;
  text-align: center;
  overflow-y: auto;
}
page-meta{
  display: none;
}
.container{
  padding: 0;
}
/* imageWaterfall{
  height: 100%;
} */