/* pages/queryImage/imageDetail.wxss */
page{
  height: 100%;
  box-sizing:border-box;
  text-align: center;
  overflow-y: auto;
  background-color: #000;
}
.container{
  padding: 0;
}
/* .modal{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 100;
} */
.image_box{
  height:100%;
  width: 100%;
  display:flex;
  box-sizing:border-box;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;

}
.image_box image{
  width: 100%;
  height: 100%;
}